*{
    padding:0;
    margin:0;
}
body{
    height: 100vh;
    position: relative;
    background-color: #C3B6C9;
}
.banner{
    color:white;
    background-color:#EED2DE;
    display: flex;
    padding:30px 5px;
    justify-content: flex-start;
    align-items: center;
}

h2{
    margin-right: auto;
 
}
ul{
    list-style: none;
    display: flex;
    gap:30px;
    padding:0 20px;
}

.container{
    padding:50px;
    display: grid;
    grid-template-rows: repeat(2, minmax(200px,1fr));
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:50px;
    background-color:#C3B6C9;
    height: 100%;
    
}
.card{
    background-color: white;
    border-radius: 44px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.titleBar{
    padding:10px;
    color: white;
    background-color:#EED2DE;
    text-align: center;
    font-size: larger;
    
}

.content ul{
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
 
.options{
    margin-bottom: 20px;
    align-self: flex-end;
    display: flex;
    gap:3px;
    padding:5px 20px;
    gap:10px;
}


.options button{
    border: none;
    color: white;
    background-color: #C3B6C9;
    border-radius: 30px;
    padding:3px 10px;
    font-size: small;
}

.options label{
    color: white;
    background-color: #C3B6C9;
    border-radius: 30px;
    padding:3px 10px;
    font-size: small;
}

form{
    position: absolute;
    background-color: #E28DB0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-right: 50px;
    border-radius: 30px;
    display: none;
}

form div{
    margin-left:20px;
    display: flex;
    gap:20px;
    width: 96%;
    align-items: center;

}

form #cancel{
    background-color: white;
    color: #E28DB0;
    padding:5px 10px;
    border-radius: 50%;
    position: absolute;
    top:7px;
    right:15px;
}
label{
    display: block;
    font-size: medium;
    color:white;
}

form input{
    border: none;
    flex-grow:1;
    padding:5px;
    font-size: medium;
    border-radius:30px ;
}

form button{
    border:none;
    background-color: white;
    color:#E28DB0;
    padding:5px 20px;
    border-radius:30px ;
    align-self: flex-end;
}

